/* --- {Variables} --- */
@import "vars";

/* --- {Utility} --- */
@import "utility";

/* --- {Components} --- */
@import "components";

/* --- {site} --- */

:root {
    --break-1: #{$break-1};
    --break-2: #{$break-2};
    --break-3: #{$break-3};
    --break-4: #{$break-4};
    font-size: 14px;
}

/* Blazor Defaults */

#blazor-error-ui {
    display: none;
    background-color: #a20;
    padding: 8px;

    a {
        color: yellow
    }
}

/* Reset */

* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border: 0;
    color: $text-1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: $background;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
}

img {
    object-fit: contain;
    object-position: center;
}

p {
    color: $text-2;
    font-size: 1.25em;
}

@media only screen and (max-width: $break-2) {
    html,
    body {
    }
}

@media only screen and (max-width: $break-3) {
    html,
    body {
        font-size: 0.8em;
    }
}

// #region custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $material-4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($color: $material-3, $amount: 18%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lighten($color: $material-3, $amount: 28%);
}

// #endregion

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $primary-light;
}

button {
    cursor: pointer;
    font-size: 1em;
    background-color: $control-background;
}

.hidden {
    display: none;
}

/* --- {Toolbar} --- */

.toolbar {
    $menu-width: 210px;
    z-index: $toolbar-z-index;

    @include row;
    background-color: $toolbar-material;
    color: $text-1;
    font-size: 1em;
    position: fixed;
    width: 100%;
    height: $toolbar-height;

    .toolbar-nav {
        @include row;
        -webkit-align-items: stretch;
        align-items: stretch;

        .toolbar-link {
            @include row;
            -webkit-align-items: center;
            align-items: center;
            -ms-align-content: center;
            -webkit-align-content: center;
            align-content: center;
            color: $text-1;

            .material-symbols-sharp {
                margin-right: .25em;
                font-size: 18px;
            }
        }

        .toolbar-item-content {
            @include col;
            display: none;
            position: absolute;
            //
            background-color: $toolbar-material;
            height: auto;
            min-width: $menu-width;
        }

        .toolbar-item {
            position: relative;
            @include col;
        }

        .toolbar-link {
            padding: 8px 12px;
            @include trans;
        }

        .toolbar-link:hover {
            background-color: lighten($toolbar-material, 8%);
            @include transs;
            transition-property: background-color;
        }

        .toolbar-link + toolbar-item-content::before {
            content: ">";
            display: block;
            width: 16px;
            height: 16px;
            color: red;
        }

        .seperator, hr {
            width: 100%;
            border-top: 1px solid #4a4a4a;
            margin: 6px 0;
        }
    }
    // toolbar-nav
    .toolbar-nav > .toolbar-item {

        .toolbar-link {
            height: $toolbar-height;
            padding-top: unset;
            padding-bottom: unset;
        }

        .toolbar-item-content {
            top: calc(100%);
            left: 0px;
            padding: 0px 0;
            border: $border;
            @include shadow-xlg;
        }
    }

    .toolbar-nav > .toolbar-item:hover {

        > .toolbar-item-content {
            display: flex;
        }
    }
    // toolbar-item-content

    .toolbar-item-content .toolbar-item {

        .toolbar-item-content {
            top: 0;
            left: 100%;
        }

        .toolbar-link:not(:last-child):after {
            content: ">";
            display: block;
            margin-left: auto;
        }
    }

    .toolbar-item-content > .toolbar-item:hover {

        > .toolbar-item-content {
            display: flex;
        }
    }
}

/* --- {Drive} --- */
$default-panel-width: 324px;

.drive {
    --info-width: #{$default-panel-width};
    //-----------//
    display: grid;
    grid-template-columns: var(--info-width, #{$default-panel-width}) auto;
    grid-template-rows: 1fr;
    background-color: $background;
    flex: 1; // height: 100%;

    .info {
        @include col;
        border-right: $border;

        .bookinfo {
            padding: $panel-padding;
            @include col;
            gap: $gap-m;
            background-color: $material-2;
            border-bottom: $border;

            .row {
                -webkit-align-items: center;
                align-items: center;
            }

            .title {
                font-size: 1.65em;
            }

            .btn {
                margin-left: auto;
            }
        }

        .pages {
            @include col;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: $material-3;
            border-bottom: $border;
            padding: $panel-padding;
        }
    }


    .workbenches {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;

        .panel {
            margin: auto;
            @include row;
            gap: $gap-xs;
        }
    }

    .properties {
        background-color: $material-3;
        border-left: $border;
    }
}

.workbench {
    @include col;
    @include shadow-lg;
    position: relative;

    .bar {
        position: absolute;
        bottom: calc(100% + #{$gap-xs});
        @include shadow-m;
        opacity: 0;
        @include trans;
    }

    .panel {
        background-color: $material-3;
    }
}

.workbench:hover {
    .bar {
        opacity: 1;
        @include transs;
    }

    .panel {
        video {
        }
    }
}

/* --- {cropper} --- */

.cropper-container {
    $cropper-color: transparentize(rgb(190, 29, 118), 0.25);
    $handlebar-thickness: 10px;

    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    position: absolute;
    z-index: 100;

    $cropper-color: transparentize(rgb(190, 29, 118), 0.25);

    .cropper {
        position: relative;
        border: 2px solid $cropper-color;
        /*background-color: transparentize($color: $cropper-color, $amount: 0.5);*/
        resize: both;
        z-index: 80;
        @include col;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 9999px rgba(0,0,0,0.25);
        transform-origin: center;

        .cropper-info {
            font-size: 0.8em;
            color: $text-2;
            padding: 1px 4px;
            user-select: none;
            text-align: center;
            opacity: 0;
            @include trans;
        }

        &:hover .cropper-info {
            opacity: 1;
            @include transs;
        }

        $handlebar-thickness: 10px;

        .corner {
            width: $handlebar-thickness * 2;
            height: $handlebar-thickness * 2;
            position: absolute;
            z-index: 10;
        }

        .handlebar {
            min-width: $handlebar-thickness;
            min-height: $handlebar-thickness;
            position: absolute;
            z-index: 9;
        }

        .center {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            cursor: move;
            background-color: transparent;
        }
    }
}
