/* --- {Variables} --- */
/* --- {Utility} --- */
.dummy {
  background-color: #4a8c95;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 100;
  visibility: hidden;
}

/** Default Flex Layout */
.row {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.rowr {
  display: flex;
  flex-direction: row-reverse;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.col {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.colr {
  display: flex;
  flex-direction: column-reverse;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.circle {
  border-radius: 99999px;
}

.noscroll {
  /* Optional: show position indicator in red */
}
.noscroll ::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.noscroll ::-webkit-scrollbar-thumb {
  background: transparent;
}

/** convert img color to primary */
/* --- {Components} --- */
.dummy {
  background-color: #4a8c95;
  height: 100px;
  width: 100px;
  position: relative;
  z-index: 100;
  visibility: hidden;
}

/** Default Flex Layout */
.row {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.rowr {
  display: flex;
  flex-direction: row-reverse;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.col {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.colr {
  display: flex;
  flex-direction: column-reverse;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.circle {
  border-radius: 99999px;
}

.noscroll {
  /* Optional: show position indicator in red */
}
.noscroll ::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.noscroll ::-webkit-scrollbar-thumb {
  background: transparent;
}

/** convert img color to primary */
a,
.link {
  color: #50a5f6;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.link:hover {
  color: #76b9f8;
}
a:hover img,
.link:hover img {
  filter: brightness(110%);
}

a:active,
.link:active {
  color: #6eaaf2;
  text-shadow: 0 0 0;
}
a:active img,
.link:active img {
  filter: brightness(120%);
}

.entry-invis {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  padding: 6px 8px;
  color: #FCFCFC;
}

.control {
  height: 36px;
  background-color: #2A2A2A;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  color: #FCFCFC;
  display: flex !important;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 4px;
}

.control.disabled {
  background-color: #494949;
  color: #A2A2A0;
}

button.control, .material-symbols-sharp.control {
  background-color: #373737;
  height: 36px;
  width: 36px;
  transition: all ease 0.15s;
}

button.control:hover {
  background-color: #565656;
  transition: all ease 0.05s;
  transition-property: background-color;
}

.invisibox {
  background: transparent;
  color: #CBCBCB;
  padding: 8px 10px;
  font-size: 1em;
  width: 100%;
}
.invisibox ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #70706D;
  opacity: 1; /* Firefox */
}
.invisibox :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #70706D;
}

.range {
  margin: 0 8px;
  width: 100%;
  min-width: 150px;
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  /* Mouse-over effects */
}
.range::-webkit-slider-thumb, .range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid #5a5a5a;
  background-color: #272727;
  border-radius: 99999px;
  transition: all ease 0.15s;
}
.range:hover::-webkit-slider-thumb {
  background-color: #373737;
}

.textbox:disabled,
.textbox:read-only,
.textarea:disabled,
.textarea:read-only {
  background-color: #494949;
  color: #A2A2A0;
  cursor: text;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: flex-start;
}
.checkbox .text {
  margin-left: 8px;
  cursor: pointer;
  color: #CBCBCB;
  transition: all ease 0.15s;
}
.checkbox input:focus + .text {
  color: #FCFCFC;
}
.checkbox input {
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #5a5a5a;
  transition: all ease 0.15s;
  cursor: pointer;
}
.checkbox input:focus {
  border-color: #1473E6;
}
.checkbox input:checked {
  border-color: #1473E6;
  background-color: #1473E6;
}
.checkbox input:checked::after {
  content: "";
  position: relative;
  display: block;
  width: 11px;
  height: 5px;
  margin-left: 2px;
  margin-top: 3.2px;
  transform: rotate(-45deg);
  border-left: 2.3pt solid #FCFCFC;
  border-bottom: 2.3pt solid #FCFCFC;
  transition: all ease 0.15s;
}

.combo {
  padding: 4px 8px;
  width: 100%;
}

.fg {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  margin-bottom: 12px;
}
.fg > label:first-child:not(.checkbox),
.fg .fg-label {
  margin-bottom: 8px;
}

.fg:last-child {
  margin-bottom: 0;
}

.fh {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}
.fh .control {
  border-radius: 0;
}
.fh > *:not(:first-child) > .control,
.fh > *:not(:first-child) > * > .control,
.fh > .control:not(:first-child) {
  border-left: none;
}
.fh > *:first-child > .control,
.fh > *:first-child > * > .control,
.fh > .control:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fh > *:last-child > .control,
.fh > *:last-child > * > .control,
.fh > .control:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* --- {drop} --- */
.pos-relative {
  position: relative;
}

.drop-parent {
  position: relative;
}

.drop-parent:hover drop[mode=hover] {
  transition: all ease 0.05s;
  display: block;
}

drop {
  position: absolute;
  z-index: 1000;
  display: none;
}

drop[direction=bottom] {
  /*top: calc(100% + 8px);*/
  top: 100%;
  left: 0;
  border-top: solid transparent 8px;
}

drop[direction=top] {
  /*bottom: calc(100% + 8px);*/
  bottom: 100%;
  left: 0;
  border-bottom: solid transparent 8px;
}

drop[direction=right] {
  /*left: calc(100% + 8px);*/
  left: 100%;
  top: 0;
  border-left: solid transparent 8px;
}

drop[direction=left] {
  /*right: calc(100% + 8px);*/
  right: 100%;
  top: 0;
  border-right: solid transparent 8px;
}

.tbl {
  border-spacing: 0;
}
.tbl thead tr {
  background-color: #272727;
}
.tbl thead tr th {
  padding: 8px;
  text-align: left;
}
.tbl thead tr th:first-child {
  padding-left: 16px;
}
.tbl thead tr th:last-child {
  padding-right: 16px;
}
.tbl tbody tr {
  background-color: #373737;
  transition: all ease 0.32s;
}
.tbl tbody tr td {
  padding: 8px;
}
.tbl tbody tr td:first-child {
  padding-left: 16px;
}
.tbl tbody tr td:last-child {
  padding-right: 16px;
}

.tbl.tbl-striped tbody tr:nth-child(2n-1) {
  background-color: #323232;
}

.tbl.tbl-hover tbody tr:hover {
  transition: all ease 0.16s;
  background-color: #464646;
}

.tbl.tbl-hover.tbl.tbl-striped tbody tr:nth-child(2n-1):hover {
  background-color: #464646;
}

.tbl.round {
  overflow: hidden;
  border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1473e6;
}

.container,
.container-fluid {
  width: 100%;
}

.page {
  min-height: 100vh;
}

.layout-content {
  margin-top: calc(16px + 1em);
  min-height: calc(100vh - calc(16px + 1em));
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}

.page-padding {
  padding: 20px 0;
}

.page-gap {
  gap: 24px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.gap-xs {
  gap: 8px;
}

.gap-s {
  gap: 12px;
}

.gap-m {
  gap: 18px;
}

.gap-l {
  gap: 24px;
}

.gap-xl {
  gap: 32px;
}

.card {
  background-color: #373737;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 12px;
}

.card hr {
  margin-left: -12px;
  margin-right: -12px;
  height: 1px;
  width: calc(100% + 24px);
  background: #4b4b4b;
  margin-bottom: 12px;
}

.mat-1 {
  background-color: #373737;
}

.mat-2 {
  background-color: #323232;
}

.mat-3 {
  background-color: #272727;
}

.mat-4 {
  background-color: #212121;
}

.border-def-radius,
.round {
  border-radius: 4px;
}

.shadow-xs {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

.shadow-s {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.18);
}

.shadow-m {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
}

.shadow-lg {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.3);
}

.shadow-xlg {
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.36);
}

/* --- {site} --- */
:root {
  --break-1: 1600px;
  --break-2: 1370px;
  --break-3: 864px;
  --break-4: 532px;
  font-size: 14px;
}

/* Blazor Defaults */
#blazor-error-ui {
  display: none;
  background-color: #a20;
  padding: 8px;
}
#blazor-error-ui a {
  color: yellow;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: 0;
  color: #FCFCFC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #141414;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
}

img {
  object-fit: contain;
  object-position: center;
}

p {
  color: #CBCBCB;
  font-size: 1.25em;
}

@media only screen and (max-width: 864px) {
  html,
body {
    font-size: 0.8em;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #46A0F5;
}

button {
  cursor: pointer;
  font-size: 1em;
  background-color: #2A2A2A;
}

.hidden {
  display: none;
}

/* --- {Toolbar} --- */
.toolbar {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  background-color: #404548;
  color: #FCFCFC;
  font-size: 1em;
  position: fixed;
  width: 100%;
  height: calc(16px + 1em);
}
.toolbar .toolbar-nav {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.toolbar .toolbar-nav .toolbar-link {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
  color: #FCFCFC;
}
.toolbar .toolbar-nav .toolbar-link .material-symbols-sharp {
  margin-right: 0.25em;
  font-size: 18px;
}
.toolbar .toolbar-nav .toolbar-item-content {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  display: none;
  position: absolute;
  background-color: #404548;
  height: auto;
  min-width: 210px;
}
.toolbar .toolbar-nav .toolbar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}
.toolbar .toolbar-nav .toolbar-link {
  padding: 8px 12px;
  transition: all ease 0.15s;
}
.toolbar .toolbar-nav .toolbar-link:hover {
  background-color: #535a5e;
  transition: all ease 0.05s;
  transition-property: background-color;
}
.toolbar .toolbar-nav .toolbar-link + toolbar-item-content::before {
  content: ">";
  display: block;
  width: 16px;
  height: 16px;
  color: red;
}
.toolbar .toolbar-nav .seperator, .toolbar .toolbar-nav hr {
  width: 100%;
  border-top: 1px solid #4a4a4a;
  margin: 6px 0;
}
.toolbar .toolbar-nav > .toolbar-item .toolbar-link {
  height: calc(16px + 1em);
  padding-top: unset;
  padding-bottom: unset;
}
.toolbar .toolbar-nav > .toolbar-item .toolbar-item-content {
  top: 100%;
  left: 0px;
  padding: 0px 0;
  border: 1px solid #5a5a5a;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.36);
}
.toolbar .toolbar-nav > .toolbar-item:hover > .toolbar-item-content {
  display: flex;
}
.toolbar .toolbar-item-content .toolbar-item .toolbar-item-content {
  top: 0;
  left: 100%;
}
.toolbar .toolbar-item-content .toolbar-item .toolbar-link:not(:last-child):after {
  content: ">";
  display: block;
  margin-left: auto;
}
.toolbar .toolbar-item-content > .toolbar-item:hover > .toolbar-item-content {
  display: flex;
}

/* --- {Drive} --- */
.drive {
  --info-width: 324px;
  display: grid;
  grid-template-columns: var(--info-width, 324px) auto;
  grid-template-rows: 1fr;
  background-color: #141414;
  flex: 1;
}
.drive .info {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  border-right: 1px solid #5a5a5a;
}
.drive .info .bookinfo {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  gap: 18px;
  background-color: #323232;
  border-bottom: 1px solid #5a5a5a;
}
.drive .info .bookinfo .row {
  -webkit-align-items: center;
  align-items: center;
}
.drive .info .bookinfo .title {
  font-size: 1.65em;
}
.drive .info .bookinfo .btn {
  margin-left: auto;
}
.drive .info .pages {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #272727;
  border-bottom: 1px solid #5a5a5a;
  padding: 16px;
}
.drive .workbenches {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.drive .workbenches .panel {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  gap: 8px;
}
.drive .properties {
  background-color: #272727;
  border-left: 1px solid #5a5a5a;
}

.workbench {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
.workbench .bar {
  position: absolute;
  bottom: calc(100% + 8px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);
  opacity: 0;
  transition: all ease 0.15s;
}
.workbench .panel {
  background-color: #272727;
}

.workbench:hover .bar {
  opacity: 1;
  transition: all ease 0.05s;
}
/* --- {cropper} --- */
.cropper-container {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
.cropper-container .cropper {
  position: relative;
  border: 2px solid rgba(190, 29, 118, 0.75);
  /*background-color: transparentize($color: $cropper-color, $amount: 0.5);*/
  resize: both;
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.25);
  transform-origin: center;
}
.cropper-container .cropper .cropper-info {
  font-size: 0.8em;
  color: #CBCBCB;
  padding: 1px 4px;
  user-select: none;
  text-align: center;
  opacity: 0;
  transition: all ease 0.15s;
}
.cropper-container .cropper:hover .cropper-info {
  opacity: 1;
  transition: all ease 0.05s;
}
.cropper-container .cropper .corner {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
}
.cropper-container .cropper .handlebar {
  min-width: 10px;
  min-height: 10px;
  position: absolute;
  z-index: 9;
}
.cropper-container .cropper .center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: move;
  background-color: transparent;
}

/*# sourceMappingURL=site.css.map */
