@inherits LayoutComponentBase

<PageTitle>WebController</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="container">
        @Body
    </main>
</div>
