@page "/drive"

<div class="drive">

    <div class="info">

        <div class="bookinfo">
            <div class="row">
                <h1 class="title">Book Name</h1>
                <button class="btn btn-primary control">
                    <span class="material-symbols-sharp">settings</span>
                </button>
            </div>
            <div class="fh">
                <span class="material-symbols-sharp control ltr">
                    format_textdirection_l_to_r
                </span>
                <div class="control" style="flex:1;">
                    <input class="invisibox" type="text" value="Can't touch this" placeholder="book path" />
                </div>
                <button class="control">
                    <span class="material-symbols-sharp">
                        open_in_new
                    </span>
                </button>
            </div>
        </div>

        <div class="pages">
            <PageList />
        </div>

    </div>

    <div class="workbenches">
        <div class="panel">
            <Workbench />
            <Workbench />
        </div>
    </div>

    <div class="properties">
    </div>

</div>

@code {

}
