@page "/drive"

<div class="workbench">

    <div class="bookinfo">

    </div>

    <div class="pages">
        <PageList />
    </div>

    <div class="workbench">
        <Workbench />
    </div>

    <div class="properties">

    </div>

</div>

@code {

}
