@page "/drive"

<div class="drive">

    <div class="info">

        <div class="bookinfo">

        </div>
        
        <div class="pages">
            <PageList />
        </div>

    </div>

    <div class="workbench">
        <Workbench />
    </div>

    <div class="properties">
    </div>

</div>

@code {

}
