<div class="workbench">

    <div class="bar fh">
        <button class="control">
            <span class="material-symbols-sharp">crop</span>
        </button>
        <drop [parent]="btnCrop" [direction]="'br'" mode="hover">
            <div class="col">
                <label>X: {{ 0 }}</label>
                <label>Y: {{ 0 }}</label>
                <label>Width: {{ cropperWidth }}</label>
                <label>Height: {{ cropperHeight }}</label>
            </div>
        </drop>

        <button class="control">
            <span class="material-symbols-sharp">autorenew</span>
        </button>
        <drop [parent]="btnRotate" [direction]="'br'" mode="hover">
            <dial [size]="100" [min]="0" [max]="360" label="Rotation" (valueChange)="optionsChanged()" [(value)]="rotation"></dial>
        </drop>

        <button class="control">
            <span class="material-symbols-sharp">search</span>
        </button>
        <drop [parent]="btnZoom" direction="br" mode="hover">
            <range [(value)]="zoom" (valueChange)="optionsChanged()" [min]="0" [max]="8" [step]="1" icon="search"></range>
        </drop>

        <button class="control">
            <span class="material-symbols-sharp">photo_camera</span>
        </button>

    </div>

    <div class="panel pos-relative">
        <div class="cropper-container">
            <div class="cropper">
                <div class="cropper-info" onmousedown="cropper(this, 'centerDown')" style="cursor: move;">
                    <span>{{ cropperWidth }} X {{ cropperHeight }}</span>
                </div>
                <div class="handlebars-grid">
                    <div class="corner" style="top: -5px; left: -5px; cursor: nw-resize;" onmousedown="cropper(this, 'tlDown')'"></div>
                    <div class="handlebar" style="left: -5px; right: -5px; top: -5px; cursor: n-resize;" onmousedown="cropper(this, 'topDown')">
                    </div>
                    <div class="corner" style="top: -5px; right: -5px; cursor: ne-resize;" onmousedown="cropper(this, 'trDown')"></div>
                    <div class="handlebar" style="top: -5px; bottom: -5px; right: -5px; cursor: e-resize;"
                         onmousedown="cropper(this, 'rightDown')"></div>
                    <div class="center" onmousedown="cropper(this, 'centerDown')"></div>
                    <div class="handlebar" style="left: -5px; right: -5px; bottom: -5px; cursor: s-resize;"
                         onmousedown="cropper(this, 'bottomDown')"></div>
                    <div class="corner" style="bottom: -5px; right: -5px; cursor: se-resize" onmousedown="cropper(this, 'brDown')"></div>
                    <div class="handlebar" style="top: -5px; bottom: -5px; left: -5px; cursor: w-resize;" onmousedown="cropper(this, 'leftDown')">
                    </div>
                    <div class="corner" style="bottom: -5px; left: -5px; cursor: sw-resize" onmousedown="cropper(this, 'blDown')"></div>
                </div>
            </div>
        </div>
        <video class="video"></video>
    </div>

</div>

@code {

}
